# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=3500
# Will be used just to create other databases
POSTGRES_ROOT_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Mongo
MONGO_HOST=localhost
MONGO_PORT=3501

# Neo4j
NEO4J_HOST=localhost
NEO4J_TPCH_PORT=3502
NEO4J_EDBT_PORT=3503
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

# Device for model inference
DEVICE=cpu

# These override even the cli arguments, so be careful when setting them.
TRAIN_NUM_RUNS=
NUM_QUERIES=
NUM_EPOCHS=
