# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=3500
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Mongo
MONGO_HOST=localhost
MONGO_PORT=3501
MONGO_DATABASE=tpch_mongo

# Neo4j
NEO4J_HOST=localhost
NEO4J_PORT=3502
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
