# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=3500
# Will be used just to create other databases
POSTGRES_ROOT_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Mongo
MONGO_HOST=localhost
MONGO_PORT=3501

# Neo4j
NEO4J_HOST=localhost
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
NEO4J_DEFAULT_PORT=3502
# Ports for toher Neo4j instances, if needed.
# These are used only in docker (and here), not directly in python.
NEO4J_A_PORT=3503
# Mapping from {schema} (or {schema}-{scale}) to ports.
# If scale is specified, it will have precedence over the schema-only mapping.
NEO4J_PORTS="{\"art\": ${NEO4J_A_PORT}}"

# Device for model inference
DEVICE=cpu

# These override even the cli arguments, so be careful when setting them.
TRAIN_NUM_RUNS=
NUM_QUERIES=
NUM_EPOCHS=
