/*
!.gitignore
# We have to separately re-include all subdirectories.
!*/

# Ignore all files in subdirectories except .gitkeep.
/*/*
# We have to separately re-include all subdirectories.
!*/
!.gitkeep
